@font-face {
  font-family:'Lexend';
  src: url('../../assets/font/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Lexend';
  src: url('../../assets/font/Lexend-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family:'Lexend';
  src: url('../../assets/font/Lexend-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family:'Lexend';
  src: url('../../assets/font/Lexend-Bold.ttf') format('truetype');
  font-weight: 700;
}