.modal {
  display: flex;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: -100;
  top: -100;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  &.active {
    opacity: 1;
    visibility: visible;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
  }

  &__content {
    width: 30rem;
    margin: 10% auto;
    position: relative;
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    background-color: #98dddf;
    box-shadow: 5px 5px 5px rgba(19, 24, 44, 0.5);
    height: fit-content;
    padding: 1rem;
  }

  &.active,
  &__content {
    opacity: 1;
    visibility: visible;
    transform: translateX(50);
  }

  &__header {
    padding: 0 0 0 0.2rem;
    vertical-align: center;
  }

  &__title {
    padding: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__button {
    padding: 0.1rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
  }

  &__end {
    display: flex;
    justify-content: space-evenly;
  }
}
